.content {
    background-color: grey;
    width: 300px;
    border: 1px solid red;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}

.display {
    border: 1px solid red;
    padding: 10px;
    margin: 10px;
    background-color: lightgrey;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    border: 1px solid red;
    border-radius: 2px;
    width: calc(33% - 40px);
    padding: 10px;
    margin: 10px;
}
.ce {
    width: calc(100% - 40px);
}
.btn.active {
    border: 1px solid blue;
}