.content {
    background-color: grey;
    width: 300px;
    border: 1px solid red;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}

.display {
    border: 1px solid red;
    padding: 10px;
    margin: 10px;
    background-color: lightgrey;
}

/*.flex-container-rows numbers {
    display: flex;
    flex-wrap: wrap;
}*/
.flex-container-column {
    display: flex;
    flex-flow: column wrap;
    width: 33%;
}
.flex-container-column.numbers {
    display: flex;
    flex-flow: row wrap;
    width: 66%;
    justify-content: center;
    padding-left: 3px;
}
.flex-container-row {
    display: flex;
    flex-flow: row wrap;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    padding: 10px;
    margin: 10px;
    color: white;
    background-color: #4f4f4f;
}

.flex-container-column.numbers .btn {
    margin: 1px;
    width: calc(33% - 2px);
    border-radius: 2px;
    padding: 0;
}

.ce {
    width: calc(100% - 40px);
}
.btn.active {
    border: 1px solid blue;
}